// compileOnSave: false

/*
Settings
*/

// Appearance
$navbar1_backgroundColor_light: $gray-400; // background-color
$navbar1_backgroundColor_dark: $gray-600; // background-color
$navbar1_logo_maxHeight: 60px; // logo max-height

// Menu toggler
$navbar1_toggler_width: 32px;
$navbar1_toggler_height: 40px;
$navbar1_toggler_hamburger_line_height: 3px;
$navbar1_toggler_hamburger_line_distance: 12px;

// Responsive
$navbar1_mobileBreakpoint: ''; // mobile breakpoint

/*
TODO: Set Bootstrap variables in wos/templates/0_bootstrap/_variables.scss
*/


/*
Stylesheet
*/
.m-navbar1 {
  max-height: 100%;
  min-height: 0;
  transition: min-height .5s ease, margin-top .3s ease, background-color .3s ease;
  &.-light {
    &.-bgColor {
      background-color: $navbar1_backgroundColor_light;
    }
    .m-navbar1__toggler {
      span {
        background-color: $navbar-light-color;
      }
      &:hover {
        span {
          background-color: $navbar-light-hover-color;
        }
      }
    }
  }
  &.-dark {
    &.-bgColor {
      background-color: $navbar1_backgroundColor_dark;
    }
    .m-navbar1__toggler {
      span {
        background-color: $navbar-dark-color;
      }
      &:hover {
        span {
          background-color: $navbar-dark-hover-color;
        }
      }
    }
  }
  &.-fixedtop {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1030;
    overflow-y: auto;
  }
  &.-transparent {
    background-color: trasparent;
    nav {
      z-index: 10;
    }
  }
  &.-fullscreen {
    width: 100%;
    z-index: 10;
  }
  &__nav {
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
  }
  &__toggler {
    width: $navbar1_toggler_width;
    height: $navbar1_toggler_height;
    position: relative;
    border: none;
    span {
      position: absolute;
      width: 100%;
      height: $navbar1_toggler_hamburger_line_height;
      left: 0;
      opacity: 0;
      transition: all .4s ease;
      &:first-of-type {
        opacity: 1;
        transform: translateY(-0) rotate(45deg);
      }
      &:last-of-type {
        opacity: 1;
        transform: translateY(0) rotate(-45deg);
      }
    }
    &.collapsed {
      span {
        top: 50%;
        opacity: 1;
        &:first-of-type {
          transform: translateY(-$navbar1_toggler_hamburger_line_distance) rotate(0);
        }
        &:last-of-type {
          transform: translateY($navbar1_toggler_hamburger_line_distance) rotate(0);
        }
      }
    }
  }
  .navbar-nav {
    flex-wrap: wrap;
  }
  .navbar-brand {
    img {
      max-height: $navbar1_logo_maxHeight;
      width: auto;
    }
  }
  .dropdown-menu {
    @include media-breakpoint-up($navbar1_mobileBreakpoint) {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
