// compileOnSave: false

/*
Settings
*/

// Appearance
$navbar1_backgroundColor: grey; // background-color
$navbar1_logo_maxHeight: 60px; // logo max-height
$navbar1_toggler_icon: '../imgs/icon-hamburger.svg'; // menu toggler icon

// Responsive
$navbar1_mobileBreakpoint: 'lg'; // mobile breakpoint

/*
TODO: Set Bootstrap variables in wos/templates/0_bootstrap/_variables.scss
*/


/*
Stylesheet
*/
.m-navbar1 {
  background-color: $navbar1_backgroundColor;
  max-height: 100%;
  min-height: 0;
  transition: all .3s ease;
  @include media-breakpoint-down($navbar1_mobileBreakpoint) {
    overflow-y: scroll;
  }
  &.-fixedtop {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1030;
  }
  &.-mobileFullscreen {

  }
  &__nav {
    flex-wrap: wrap;
  }
  .navbar-nav {
    flex-wrap: wrap;
  }
  .navbar-brand {
    img {
      max-height: $navbar1_logo_maxHeight;
      width: auto;
    }
  }
  .dropdown-menu {
    @include media-breakpoint-up($navbar1_mobileBreakpoint) {
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .navbar-toggler-icon {
    background-image: url($navbar1_toggler_icon);
  }
}
