// compileOnSave: false

.m-breadcrumb1 {
  background-color: $gray-300;
  &__list {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
  }
  &__item {
    color: $gray-900!important;
  }
  &__link {
    color: $gray-700;
  }
}
