// compileOnSave: false


/*
Settings
*/

// Mobile breakpoint
$header1_mobileBreakpoint: 'md'; // mobile breakpoint

// General
$header1_content_maxWidth : 600px; // content max-width

// Mobile appearance
$header1_minHeight_mobile : 15rem; // min-height
$header1_padding_mobile : 5rem 0 4rem; // padding

// Desktop appearance
$header1_minHeight_desktop : 30rem; // min-height
$header1_padding_desktop : 8rem 0 6rem; // padding

// Background
$header1_backgroundColor : $gray-600; // background-color

// Fonts family
$header1_fontFamily : $font-family-base; // general font-family
$header1_title_fontFamily : inherit; // title font-family
$header1_subtitle_fontFamily : inherit; // subtitle font-family
$header1_description_fontFamily : inherit; // description font-family

// Text color
$header1_color : $white; // general color
$header1_title_color : inherit; // title color
$header1_subtitle_color : inherit; // subtitle color
$header1_description_color : inherit; // description color

// Text family
$header1_title_fontSize_mobile : 2.6rem; // title font-size mobile
$header1_subtitle_fontSize_mobile : 2rem; // subtitle font-size mobile
$header1_description_fontSize_mobile : 1.4rem; // description font-size mobile
$header1_title_fontSize_desktop : 4rem; // title font-size desktop
$header1_subtitle_fontSize_desktop : 3rem; // subtitle font-size desktop
$header1_description_fontSize_desktop : 1.6rem; // description font-size desktop

// Button
$header1_button_color : $white; // button color
$header1_button_backgroundColor : $primary; // button background-color
$header1_button_backgroundColor_hover : darken($primary, 15%); // button hover background-color
$header1_button_borderColor : $primary; // button border-color



/*
Stylesheet
*/
.m-header1 {
  background-color: $header1_backgroundColor;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $header1_color;
  display: flex;
  flex-direction: column;
  font-family: $header1_fontFamily;
  justify-content: center;
  min-height: $header1_minHeight_mobile;
  padding: $header1_padding_mobile;
  position: relative;
  @include media-breakpoint-up($header1_mobileBreakpoint) {
    min-height: $header1_minHeight_desktop;
    padding: $header1_padding_desktop;
  }
  &__overlay {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  &__content {
    max-width: $header1_content_maxWidth;
    text-align: center;
    @include media-breakpoint-up($header1_mobileBreakpoint) {
      text-align: left;
    }
  }
  &__title {
    color: $header1_title_color;
    font-family: $header1_title_fontFamily;
    font-size: $header1_title_fontSize_mobile;
    font-weight: 900;
    line-height: 1;
    margin: 0 0 .4rem;
    @include media-breakpoint-up($header1_mobileBreakpoint) {
      font-size: $header1_title_fontSize_desktop;
      margin: 0;
    }
  }
  &__subtitle {
    color: $header1_subtitle_color;
    font-family: $header1_subtitle_fontFamily;
    font-size: $header1_subtitle_fontSize_mobile;
    font-weight: 700;
    line-height: 1;
    margin: 0 0 1rem;
    @include media-breakpoint-up($header1_mobileBreakpoint) {
      font-size: $header1_subtitle_fontSize_desktop;
    }
  }
  &__description {
    color: $header1_description_color;
    font-family: $header1_description_fontFamily;
    font-size: $header1_description_fontSize_mobile;
    line-height: 1.2;
    margin: 0 0 1rem;
    @include media-breakpoint-up($header1_mobileBreakpoint) {
      font-size: $header1_description_fontSize_desktop;
    }
  }
  &__button {
    background-color: $header1_button_backgroundColor;
    border-color: $header1_button_borderColor;
    color: $header1_button_color;
    margin: 2rem 0 0;
    @include media-breakpoint-up($header1_mobileBreakpoint) {
      margin: 1rem 0 0;
    }
    &:hover {
      background-color: $header1_button_backgroundColor_hover;
    }
  }
}
