// compileOnSave: false


/*
Settings
*/

// Appearance
$footer1_backgroundColor : grey; // background-color
$footer1_color : $white; // text color
$footer1_fontSize : $font-size-base; // font-size


/*
Stylesheet
*/
.m-footer1 {
  background-color: $footer1_backgroundColor;
  color: $footer1_color;
  font-size: $footer1_fontSize;
  p {
    &:last-of-type {
      margin: 0;
    }
  }
}
