// compileOnSave: false


/*
Settings
*/

// Appearance
$bottombar1_backgroundColor : $black; // background-color
$bottombar1_color : $white; // text color
$bottombar1_fontSize : $font-size-base; // font-size

// Responsive (hide in small display resolutions)
$bottombar1_mobileDisplay : 'block'; // show->'block', hide->'none'
$bottombar1_mobileBreakpoint : 'lg'; // choose the breakpoint below which to apply the display setting set above: xs, sm, md, lg, xl


/*
Stylesheet
*/
.m-bottombar1 {
  background-color: $bottombar1_backgroundColor;
  color: $bottombar1_color;
  font-size: $bottombar1_fontSize;
  @include media-breakpoint-down($bottombar1_mobileBreakpoint) {
    display: $bottombar1_mobileDisplay;
  }
  p {
    &:last-of-type {
      margin: 0;
    }
  }
}
